body {
    font-family: var(--fonte-principal);
    color: #333333;
}

main {
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;

}

.btn-outline{
    background-color: transparent;
    border: 2px solid white;
    line-height: 23px;
}

.btn-filled{
    background-color: #ffffff;
    color: #6329a2;
}

.btn:hover {
    background-color: #6329a2;
    color: white;
    border-color: #6329a2;
}