/* footer.css */
.site-footer {
    background-color: #333333;
    color: white;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav ul{
    display: flex;
    gap: 20px;
    padding: 0;
}

.footer-nav ul ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.footer-nav strong{
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: block;
    font-weight: 400;
}

.footer-nav li a {
    color: white;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input{
    border-radius: 30px;
    color: #AAAAAA;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}

.footer-social ul {
    display: flex;
    gap: 1.25rem;
}

.footer-social span {
    margin-bottom: 1rem;
    display: block;
}

.footer-social li a:hover img {
    opacity: 0.7;
}

.footer-copyright {
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 1000px) {
    .footer-content{
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-social ul{
        gap: 1rem;
    }

    .footer-copyright {
        font-size: 1rem;
        padding: 1.5rem 0 1.5rem;
    }
}