/* product-grid.css */

.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.top1 {
    grid-area: top1;
    background-image: url(../../images/products/card_imagem.jpg);
}

.top2 {
    grid-area: top2;
    background-image: url(../../images/products/roxo-verde-grid.jpg);
}


.midR{
    grid-area: midR;
    background-image: url(../../images/products/futurista-grid.jpg);
}

.bottomL{
    grid-area: bottomL;
    background-image: url(../../images/products/preto-branco-grid.jpg);
}

.bottomR{
    grid-area: bottomR;
    background-image: url(../../images/products/moderno-grid.jpg);
}

.modelo{
    grid-area: modelo;
    background-image: url(../../images/products/modelo-feminino.jpg);
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: "top1 top1 top2 top2"
                         "top1 top1 modelo midR"
                         "bottomL bottomL modelo bottomR";
    gap: 30px;                    
}

.top1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 400;
    color: #EDEDED;
    margin-bottom: 10px;
}

.card-subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #EDEDED;
}

.cta-group {
    display: flex;
    gap: 10px;
}